# work enviorenment
__pycache__
__pycache__/
**/__pycache__/
/__pycache__/**
/**/__pycache__/
.venv/
.venv/**
.venv

.idea
.idea/
*.cpython-38.pyc

# db
db.sqlite3
**/db.sqlite3
/**/db.sqlite3
/db.sqlite3


.idea/**
.vscode/
.vscode
.vscode/**


