# work enviorenment
__pycache__
__pycache__/
**/__pycache__/
/__pycache__/**
/**/__pycache__/
.venv/
.venv/**
.venv

.idea
.idea/
*.cpython-38.pyc
/*.cpython-38.pyc
**/*.cpython-38.pyc

.idea/**
**/.idea
.vscode/
.vscode
.vscode/**
**/.vscode
**/.vscode/**

# db
db.sqlite3
**/db.sqlite3
/**/db.sqlite3
/db.sqlite3


