{% extends 'frpv/default_page.html' %}

{% load static %}

{% block content %}
 <!-- БЛОК 3 "О ФОНДЕ"-->
 <div id="rec38921752" class="r t-rec t-rec_pt_180 t-rec_pb_180 r_showed r_anim" style="padding-top:50px;padding-bottom:0px; " data-record-type="486">
    <!-- T486 --><div class="t486"> <div class="t-container">
<a name="fond"></a>
    <div class="t486__top ">
    <div class="t486__textwrapper t-align_left" style="padding: 30px;">
        <div class="t486__content t-valign_middle">
            <div class="t486__box">
                <div class="t486__title t-align_center t-title t-title_xs " field="title" style="color:#000000;">
                    {{ about.header }} </div>
                    <div style="text-align: center;"  >  <img style=" width: 500px;" src="{% static 'frpv/img/about.jpg' %}">  </div>
                <div class="t486__descr t-descr t-descr_md " field="descr" style="height: 80vh; color:#000000;">
                    {{ about.text }}
            </div>
        </div>

    </div>



</div></div>
<script type="text/javascript"> $(window).resize(function() { t486_setHeight('38921752'); }); $(document).ready(function() { t486_setHeight('38921752'); }); $('.t486').bind('displayChanged',function(){ t486_setHeight('38921752'); }); </script>
</div>
</div>
{% endblock content %}