<html>
<head>
    <title>Заявка</title>
</head>
<body>

<form method="post" action="{% url 'frpv:send' %}">
    {% csrf_token %}
<table>
    <thead>Заявка</thead>
    {% for label in labels %}
    <tr>
        <td>{{ label }}</td><td><input type="text" name="{{ label }}"></td>
    </tr>
    {% endfor %}

</table>
    <input type="submit" value="Оставить заявку" />
</form>

<form method="post" action="{% url 'frpv:test_send' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Введите что-угодно</p>
    <input type="text" name="test" /><br>
    <input type="submit" value="Отправить" />
</form>

</body>
</html>