{% extends 'frpv/default_page.html' %}
{% load static %}
{% block title %}
    <title>Документы фонда</title>
{% endblock title %}
{% block content %}
 <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" style="color: rgb(99, 134, 157); padding-top: 50px;padding-bottom: 10px; margin-right: 40px;" field="btitle">
                    Документы фонда</div>
            </div>
        </div>
    </div>
 <div style="padding-bottom: 100px; padding-top: 15px;">
 {% for doc in data %}
 <style>
    table {

     height: 50px;   
     width: 500px; /* Ширина таблицы */
     margin: auto; /* Выравниваем таблицу по центру окна  */
    }
    td {
     text-align: center; /* Выравниваем текст по центру ячейки */
    }
    </style>
<table>
<tr style="height: 15px;  padding-top: 10px;" >
<td>
 <a style= "font-size: 20px; color: #000;" href = "{{ doc.attachment.url }}"> {{ doc.text }} </a>
</td>
</tr>
</table>
{% endfor %}
</div>  
{% endblock content %}

