{% extends 'frpv/base.html' %}

{% load static %}

{% block body %}
<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="426094"
    data-tilda-page-id="1972363" data-tilda-page-alias="basic01ru"
    data-tilda-formskey="e60fb256749207b602eadb73126a1282">
    <div id="rec38921750" class="r t-rec" style="background: rgb(0, 0, 0); " data-animationappear="off" data-record-type="446">
        <!-- T446 -->


        {% block nav %}
        <div id="nav38921750marker"></div>
        <div id="nav38921874" class="t228 t228__positionabsolute "
            style="border-bottom: 1px solid rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0);"
            data-bgcolor-hex="#fff" data-bgcolor-rgba="rgba(255,255,255,0.0)" data-navmarker="nav38921874marker"
            data-appearoffset="" data-bgopacity-two="" data-menushadow="0" data-bgopacity="0.0"
            data-menu-items-align="right" data-menu="yes" data-bgcolor-setbyscript="yes">
            <div class="t228__maincontainer t228__c12collumns" >
                <div class="t228__padding40px" style=" "></div>
                <div style="  filter: invert(100%); padding-top: 10px ; padding-right: 10px; padding-bottom: 1px;"> <a><img
                            src="{% static 'frpv/img/logo.png' %}"></a></div>
                <div class="t228__leftside" style=" ">

                    <div class="t228__leftcontainer">
                        
                        <div class="t228__logo t-title" field="title"
                            style="color:#ffffff; margin: 0px; font-size:12px;font-weight:700;">

                            Региональный фонд <br>развития промышленности<br> Воронежской области</div>
                    </div>
                </div>
                <div  class="t228__centerside t228__menualign_right " >
                    <div  class=" ">
                        <ul class="t228__list" style="color: white; padding: 0; margin: 0;"></ul>
                            
                            <div style=" color: rgb(236, 12, 12);">
                                <link rel="stylesheet" href="{% static 'frpv/index_files/main.css' %}">

                                <nav id="menu1">
                                    <ul>
                                        
                                        <li><a style="color: white;" href="#">О фонде</a>
                                            <ul >
                                                <li><a href="{% url 'frpv:about' %}">О фонде</a></li>
                                                <li><a href="{% url 'frpv:struktura' %}">Структура фонда</a></li>
                                                <li><a href="{% url 'frpv:ruko' %}">Руководство</a></li>
                                                <li><a href="{% url 'frpv:expsovet' %}">Экспертный совет</a></li>
                                                <li><a href="{% url 'frpv:sovet' %}">Наблюдательный совет</a></li>
                                                <li><a href="{% url 'frpv:doki' %}">Документы фонда</a></li>
                                            </ul>
                                        </li>
                                        <li><a style="color: white;" href="{% url 'frpv:uslug' %}">Услуги</a>
                                            <ul >
                                                <li><a style="padding-bottom: 25px;" href="{% url 'frpv:proj_razv' %}">программа «Проекты развития» </a></li>
                                                <li><a href="{% url 'frpv:kompl_izd' %}">программа «Комплектующие изделия»</a></li>
                                                <li><a href="https://frprf.ru/zaymy/proekty-razvitiya/">Займы ФРП</a></li>
                                                <li><a style="padding-bottom: 11px;" href="{% url 'frpv:video' %}">Как получить займ</a></li>
                                            </ul>
                                        </li>
                                        <li><a style="color: white;" href="{% url 'frpv:reliz_proj' %}">Реализованные проекты</a></li>
                                        <li><a style="color: white;" href="#contacts">Контакты</a></li>
                                        
                                    </ul>
                                </nav>



                               
                            </div>

                    </div>
                </div>
               
            </div>


        </div>


    </div>
</div>

<script type="text/javascript">	$(document).ready(function () { t446_setLogoPadding('38921750'); }); var t446__doResize; $(window).resize(function () { t446_checkOverflow('38921750', '100'); clearTimeout(t446__doResize); t446__doResize = setTimeout(function () { t446_checkOverflow('38921750', '100'); }, 200); }); $(window).load(function () { t446_checkOverflow('38921750', '100'); }); $(document).ready(function () { t446_checkOverflow('38921750', '100'); }); $(document).ready(function () { t446_highlight(); });
    $(window).resize(function () {
        t446_setBg('38921750');
    });
    $(document).ready(function () {
        t446_setBg('38921750');
    });</script>

</div>

{% endblock nav %}

{% block main %}
<div id="rec38921751" class="r t-rec" style=" " data-animationappear="off" data-record-type="205">
    <!-- cover -->
    <div class="t-cover" id="recorddiv38921751" bgimgfield="img"
        style="height:100vh; background-image:url(&#39;https://static.tildacdn.com/tild6239-6638-4865-b638-633631326634/-/resize/20x/rawpixelcom340966.jpg&#39;);">
        <div class="t-cover__carrier loaded" id="coverCarry38921751" data-content-cover-id="38921751"
            data-content-cover-bg="{% static 'frpv/img/bg.jpg' %}" data-content-cover-height="100vh"
            data-content-cover-parallax=""
            style="background-image: url(&quot;{% static 'frpv/img/bg.jpg' %}&quot;); height: 100vh; background-attachment: scroll;"
            src=""></div>
        <div class="t-cover__filter"
            style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#66000000&#39;, endColorstr=&#39;#4c000000&#39;);">
        </div>

        <div class="t-container">
            <div class="t-width t-width_10" style="margin:0 auto;">
                <div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index:1;">
                    <div class="t182">
                        <div data-hook-content="covercontent">
                            <div class="t182__wrapper">
                                <div class="t182__title t-title t-title_xl t-animate t-animate_started"
                                    data-animate-style="fadeinup" data-animate-group="yes"
                                    style="transition-delay: 0s; font-size: 42px;" field="title">
                                    Региональный фонд развития <br> промышленности <br> Воронежской области
                                </div>
                                <div class="t182__descr t-descr t-descr_lg t-animate t-animate_started"
                                    data-animate-style="fadeinup" data-animate-group="yes"
                                    style="transition-delay: 0.3s;" field="descr">


                                    <div class="t486__imgcontainer" style="line-height: 1;">
                                        <div class="t486__row" style="height: 150px; padding: 20px;">
                                            <div class="t486__imgwrapper" style=" padding: 20px;">
                                                <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                                                    data-original=""
                                                    style="background-color: #ffffff; color: #000000; height: auto;"
                                                    src="">

                                                    <div class="t-section__title t-title t-align_left" field="btitle"
                                                        style="padding: 10px; background-color: white; font-size: 20px;">
                                                        Государственная поддержка предприятий в форме льготного займа
                                                    </div>
                                                </div>
                                                
                                            </div> 
                                            <div class="t486__imgwrapper" style=" padding: 20px;">
                                                <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                                                    data-original=""
                                                    style="background-color: #ffffff; color: #000000; height: auto;"
                                                    src="">

                                                    <div class="t-section__title t-title t-align_left" field="btitle"
                                                        style="padding: 10px; background-color: white; font-size: 20px;">
                                                        <style type="text/css">
                                                            A:link { 
                                                             text-decoration: none; /* Убирает подчеркивание для ссылок */
                                                            } 
                                                            A:visited { color: #000000; } 
                                                            A:active { text-decoration: none; }
                                                            A:hover {
                                                             text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
                                                             color: red; /* Цвет ссылки */
                                                            } 
                                                           </style>
                                                        <a href="{% url 'frpv:navigator' %}"> Государственные меры поддержки федерального и регионального уровня </a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!-- <div class="t486__imgwrapper" style="height: 150px; padding: 20px;">
                                                <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                                                    data-original=""
                                                    style="background-color: #ffffff; color: #000000; "
                                                    src="">

                                                    <div class="t-section__title t-title t-align_left" field="btitle"
                                                        style=" font-size: 20px;">
                                                        <a class="t-menu__link-item" 
                                                        
                                                            style="color:#000000;font-weight:600;">Государственные меры поддержки федерального и регионального уровня</a>
                                                    </div>
                                                </div>
                                                <div class="t493__textwrapper t-cell t-valign_middle">
                                                </div>
                                            </div> -->


                                        </div>

                                    </div>


                                </div>
                                <div class="t182__buttons">
                                    <a href="{% url 'frpv:application' %}" target=""
                                        class="t-btn t-animate t-animate_started" data-animate-style="fadeinup"
                                        data-animate-group="yes"
                                        style="color: rgb(255, 255, 255); background-color: crimson; border-radius: 3px; text-transform: uppercase; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;">
                                        <table style="width:100%; height:100%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style="font-style: normal; text-transform: none;">Подать
                                                            заявку
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- arrow -->

        <div class="t-cover__arrow">
            <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                <div class="t-cover__arrow_mobile">
                    <svg class="t-cover__arrow-svg" style="fill:#ffffff;" x="0px" y="0px" width="38.417px"
                        height="18.592px" viewBox="0 0 38.417 18.592">
                        <g>
                            <path
                                d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z">
                            </path>
                        </g>
                    </svg></div>
            </div>
        </div> <!-- arrow -->
    </div>
</div>



<!-- НАЧАЛО НОВОСТЕЙ -->



<a name="news" style='font-size:0'></a>

<div class="t508" style="background-color:#d6d6d6;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_14">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" style=" padding-top: 50px; padding-left: 0px;"
                    field="btitle">
                    Новости </div>

                <div class="t-section__descr t-descr t-descr_xl t-margin_auto" style="padding-left: 0px;"
                    field="bdescr">

                </div>
            </div>
        </div>
    </div>
    <div class="t-container" style="padding-left: 0px;">
        {% for entry in entries %}
        <div class="t-col t-col_12 t-prefix_1 t-item" style="padding-left:0px; margin-left: 0px;">
            <div class="t-cell t-valign_top">

                <div class="t508__textwrapper t-cell t-valign_top" style="padding-left: 0px;">
                    <div class="t-name t-name_md t508__bottommargin" style="padding-left: 0px;"
                        field="li_title__1476889049104">
                        {{ entry.header }}
                    </div>
                    <div class="t-name t-name_md t508__bottommargin" style="font-size: 12px; color: gray;"
                        field="li_title__1476889049104">
                        <img src="{% static 'frpv/img/calendar.png' %} " width="10px">
                        Дата: {{ entry.date }}, Тема: {{ entry.topic }}
                    </div>
                    <div class="t-descr t-descr_sm" style="padding-left: 0px;" field="li_descr__1476889049104">
                        {{ entry }} <a href="{% url 'frpv:news' entry.id %}">Подробнее</a>
                        <br>

                        <br>
                    </div>
                </div>
            </div>

            <div class="t-clear t508__separator" style=""></div>
            {% endfor %}
            <div><a style="float: right; font-size: 40px;" href="{% url 'frpv:archive' %}">Архив новостей</a></div>

            <div class="t-clear t508__separator" style=""></div>

        </div>
    </div>

</div><!-- КОНЕЦ ОВОСТЕЙ -->



<!-- 3 БЛОК -->

<div id=" rec38921753" class=" r t-rec r_anim r_showed" style="padding-bottom: 0px" data-record-type="215">
    <a name="service" style="font-size:0;"></a>
</div>
<div id="rec38921754" class="r t-rec t-rec_pt_150 t-rec_pb_180"
    style="padding-top:150px;padding-bottom:120px;background-color:#d6d6d6; " data-record-type="490"
    data-bg-color="#f5f5f5" data-animationappear="off">
    <!-- t490 -->
    <div class="t490">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle">
                        Направления деятельности АУ "РФРП ВО"</div>
                </div>
            </div>
        </div>

        <div class="t-container " style="max-width: 1200px; ">

            <div class=" t490__col t-col t-col_3 t-align_center t-item"
                style=" background-color: #ffffff;padding-top:20px; height: 200px; margin: 1px; ">
                <img src="{% static 'frpv/img/red2.png' %}" data-original="{% static 'frpv/img/red2.png' %}"
                    class="t490__img t-img loaded" imgfield="li_img__1476968722790" style="width:70px;margin: 0px;">
                <div class="t490__wrappercenter ">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title" field="btitle">
                            Создание и развитие промышленной инфраструктуры</div>
                    </div>
                </div>
            </div>
            <div class="t490__col t-col t-col_3 t-align_center t-item"
                style="background-color: #ffffff;padding-top:20px; height: 200px;margin: 1px;">
                <img src="{% static 'frpv/img/red.png' %}" data-original="{% static 'frpv/img/red.png' %}"
                    class="t490__img t-img loaded" imgfield="li_img__1476968690512" style="width:50px;">
                <div class="t490__wrappercenter ">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title" field="btitle">
                            Взаимодействие с крупными заказчиками</div>
                    </div>
                </div>
            </div>
            <div class="t490__col t-col t-col_3 t-align_center t-item"
                style="background-color: #ffffff;padding-top:20px; padding-right: 25px; margin: 1px; height: 200px; width: 500px;">
                <img src="{% static 'frpv/img/red2.png' %}" data-original="{% static 'frpv/img/red2.png' %}"
                    class="t490__img t-img loaded" imgfield="li_img__1476968722790" style="width:70px;margin: 0px;">
                <div class="t490__wrappercenter " style="width: 250px;">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title" field="btitle" style="width: 300px; ;">
                            Подбор мер государственной федеральной и региональной поддержки для реализации ивестиционных
                            проектов</div>
                    </div>
                </div>
            </div>

            <div class="t490__col t-col t-col_3 t-align_center t-item"
                style="background-color: #ffffff;padding-top:20px; padding: 10 px ; margin: 1px; height: 200px; width: 500px;">
                <img src="{% static 'frpv/img/red.png' %}" data-original="{% static 'frpv/img/red.png' %}"
                    class="t490__img t-img loaded" imgfield="li_img__1476968722790" style="width:50px;">
                <div class="t490__wrappercenter ">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title" field="btitle">
                            Подготовка к участию в форумах, семинарах, конференциях, выставках</div>
                    </div>
                </div>
            </div>


            <!-- <div class="t-section__topwrapper t-align_left">
                <div class="t-clear t490__separator" style="">

                </div>

            </div> -->
        </div>


        
        <div class=" t-container t142__wraptwo t142 " style="margin: auto;">

            <div class="t490__col t-col t-col_3 t-align_center t-item"
                style=" margin: 1px; ">
              
            </div>
            <div class=" t490__col t-col t-col_3 t-align_center t-item"
                style=" background-color: #ffffff;padding-top:20px; height: 200px; margin: 1px; ">
                <img src="{% static 'frpv/img/red2.png' %}" data-original="{% static 'frpv/img/red2.png' %}"
                    class="t490__img t-img loaded" imgfield="li_img__1476968722790" style="width:70px;margin: 0px;">
                <div class="t490__wrappercenter ">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title" field="btitle">
                            Отбор проектов в рамках представления финансовой поддеркжи совместно с ФРП по программам
                                "Совместные займы"</div>
                    </div>
                </div>
            </div>
        <div class="t490__col t-col t-col_3 t-align_center t-item"
        style="background-color: #ffffff;padding-top:20px; padding-right: 25px; margin: 1px; height: 200px; width: 500px;">
                <img src="{% static 'frpv/img/red.png' %}" data-original="{% static 'frpv/img/red.png' %}"
                    class="t490__img t-img loaded" imgfield="li_img__1476968722790" style="width:50px;">
                <div class="t490__wrappercenter ">
                    <div class="t-section__topwrapper t-align_left">
                        <div class="t-section__title t-title" field="btitle">
                            Мониторинг реализации проектов</div>
                    </div>
                </div>
            </div>
            <!-- <div class=" t142__wraptwo">
                <div class=" t490__col t-col t-col_3 t-align_center t-item"
                    style="background-color: #ffffff;padding-top:20px;padding-right: 25px;  height: 200px; width: 500px;  ">
                    <img src="{% static 'frpv/img/red2.png' %}" data-original="{% static 'frpv/img/red2.png' %}"
                        class="t490__img t-img loaded" imgfield="li_img__1476968722790"
                        style="width:70px; margin: 0px;">
                    <div class="t490__wrappercenter " style="width: 270px;">
                        <div class="t-section__topwrapper t-align_left">
                            <div class="t-section__title t-title" field="btitle" style="">
                                Отбор проектов в рамках представления финансовой поддеркжи совместно с ФРП по программам
                                "Совместные займы"</div>
                        </div>
                    </div>
                </div>

                <div class=" t490__col t-col t-col_3 t-align_center t-item"
                    style="background-color: #ffffff;padding-top:20px; height: 200px;">
                    <img src="{% static 'frpv/img/red.png' %}" data-original="{% static 'frpv/img/red.png' %}"
                        class="t490__img t-img loaded" imgfield="li_img__1476968722790" style="width:50px;">
                    <div class="t490__wrappercenter ">
                        <div class="t-section__topwrapper t-align_center">
                            <div class="t-section__title t-title" field="btitle">
                                Мониторинг реализации проектов</div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

</div>




<!-- Совместные программы -->
<!-- t509 -->
<!-- <div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Совместные программы с ФРП</div>
            </div>
        </div>
    </div>
    <div class="t-container">
        <div class="t509__colwrapper t-col t-col_12 ">
            <div class="t509__col t-col t-col_6 t509__mobileimg">
                <div class="t509__blockimg t-bgimg" bgimgfield="li_img__1476897493817"
                    data-original="https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/photo.jpg"
                    style="background-image: url(&quot;https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/-/resizeb/20x/photo.jpg&quot;); padding-bottom: 75%;"
                    data-image-width="600" data-image-height="450"></div>
            </div>
            <div class="t509__col t-col t-col_6 t509__leftcol t509__desktopimg">
                <div class="t509__imgwrapper" style="max-width:600px;">
                    <div class="t509__blockimg t-bgimg loaded" bgimgfield="li_img__1476897493817"
                        data-original="https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/photo.jpg"
                        style="background-image: url(&quot;https://thumb.tildacdn.com/tild3863-3761-4138-a539-343733386561/-/cover/560x420/center/center/-/format/webp/photo.jpg&quot;); padding-bottom: 75%;"
                        data-image-width="600" data-image-height="450" src=""></div>
                </div>
            </div>
            <div class="t509__col t-col t-col_6 t509__rightcol">
                <div class="t509__textwrapper t-align_left" style="max-width: 800px; height: 420px;">
                    <div class="t509__content t-valign_middle">
                        <div class="t509__box">
                            <div class="t509__title t-heading t-heading_xs t-margin_auto"
                                field="li_title__1476897493817" style="">Программа "Проекты развития"</div>
                            <div class="t509__descr t-descr t-descr_sm t-margin_auto" field="li_descr__1476897493817"
                                style="">В
                                рамках программы «Проекты развития» льготное заёмное софинансирование на проекты,
                                направленные на
                                импортозамещение и производство конкурентоспособной продукции гражданского назначения,
                                предоставляют федеральный и региональные фонды развития промышленности совместно в
                                соотношении
                                70% (федеральные средства) на 30% (средства регионов).
                                <br>Размер займа, предоставляемого одной
                                организации, составляет от 20 до 100 млн руб. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t509__separator t-clear" style=""></div>
            <div class="t509__col t-col t-col_6 t509__mobileimg">
                <div class="t509__blockimg t-bgimg" bgimgfield="li_img__1481206097863"
                    data-original="https://static.tildacdn.com/tild3563-3461-4636-b131-633538386164/photo.jpg"
                    style="background-image: url(&quot;https://static.tildacdn.com/tild3563-3461-4636-b131-633538386164/-/resizeb/20x/photo.jpg&quot;); padding-bottom: 75%;"
                    data-image-width="600" data-image-height="450"></div>
            </div>

            <div class="t509__col t-col t-col_6 t509__rightcol t509__desktopimg">
                <div class="t509__imgwrapper" style="max-width:600px;">
                    <div class="t509__blockimg t-bgimg loaded" bgimgfield="li_img__1481206097863"
                        data-original="https://static.tildacdn.com/tild3563-3461-4636-b131-633538386164/photo.jpg"
                        style="background-image: url(&quot;https://thumb.tildacdn.com/tild3563-3461-4636-b131-633538386164/-/cover/560x420/center/center/-/format/webp/photo.jpg&quot;); padding-bottom: 75%;"
                        data-image-width="600" data-image-height="450" src=""></div>
                </div>
            </div>


            <div class="t509__col t-col t-col_6 t509__leftcol">
                <div class="t509__textwrapper t-align_left"
                    style=" padding-left: 50px; max-width: 800px; height: 420px;">
                    <div class="t509__content t-valign_middle">
                        <div class="t509__box">
                            <div class="t509__title t-heading t-heading_xs t-margin_auto"
                                field="li_title__1476897493817" style="">Программа "Комплектующие изделия"</div>
                            <div class="t509__descr t-descr t-descr_sm t-margin_auto" field="li_descr__1481206097863"
                                style="padding-bottom: 110px;">
                                В рамках программы льготное заёмное софинансирование на проекты, направленные на
                                организацию и/или модернизацию производства комплектующих изделий, применяемых в составе
                                промышленной продукции, предоставляют федеральный и региональный
                                фонды развития промышленности совместно в соотношении 70% (федеральные средства) на 30%
                                (средства регионов). <br><br>

                                Размер займа, предоставляемого одной организации, составляет от 20 до 100 млн руб.
                            </div><br> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

</div> -->

<!-- /5 БЛОК-->


{% endblock main %}

<!-- FOOTER -->
<div id="rec38921759" class="r t-rec r_anim r_showed" style=" " data-record-type="215">
    <a name="form" style="font-size:0;"></a></div>
<div id="rec38921760" class="r t-rec" style=" " data-animationappear="off" data-record-type="720">

    <!-- t720 -->
    <!-- cover -->

    <div class="t-cover" id="recorddiv38921760" bgimgfield="img" style="height:100vh; background-image:url();">
        <div class="t-cover__carrier loaded" id="coverCarry38921760" data-content-cover-id="38921760"
            data-content-cover-bg="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQfYumssPxlEqvbzwqOmu3pWwVtvuwQv07-qaX4Lg4YBdrFShQe"
            data-content-cover-height="100vh" data-content-cover-parallax=""
            style="background-image: url(&quot;https://thumb.tildacdn.com/tild3964-3831-4932-b334-336562653062/-/format/webp/blob.png&quot;); height: 100vh; background-attachment: scroll;"
            src="">
        </div>
        <div class="t-cover__filter"
            style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));
                background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));background-image: -o-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));
                background-image: -ms-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));background-image: linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#33000000&#39;, endColorstr=&#39;#19000000&#39;);">
        </div>
        <div class="t720">
            <div class="t-container">
                <div class="t-width t-width_10 t720__mainblock t-align_center">
                    <div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index: 1;">
                        <div class="t720__mainwrapper" data-hook-content="covercontent">
                            <div class="t720__textwrapper">
                                <div class="t720__title t-title t-title_sm t-margin_auto" style="" field="title">
                                    Горячая линия</div>

                                <div class="t720__descr t-descr t-descr_xl t-margin_auto" style="max-width:800px;"
                                    field="descr">
                                    Интересующие Вас вопросы можно задать по контактному телефону</div>
                                <br><br>
                                <div class="t720__title t-title t-title_sm t-margin_auto" style="" field="title">
                                    +7 (473) 212-75-01</div>


                            </div>

                            <div>

                                <div class="t182__buttons">
                                    <a href="#" target="" class="t-btn t-animate t-animate_started"
                                        data-animate-style="fadeinup" data-animate-group="yes"
                                        style="padding-left: 0px; padding-right: 0px; color: rgb(255, 255, 255); background-color: crimson; border-radius: 3px; text-transform: uppercase; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;">
                                        <table style="width:100%; height:100%; border:0;">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 200px;">
                                                        <p style="font-style: normal;  text-transform: none;">
                                                            Получить бесплатную консультацию</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                </div>
                                <style>
                                    #rec38921760 input::-webkit-input-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 input::-moz-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 input:-moz-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 input:-ms-input-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 textarea::-webkit-input-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 textarea::-moz-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 textarea:-moz-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }

                                    #rec38921760 textarea:-ms-input-placeholder {
                                        color: #ffffff;
                                        opacity: 0.5;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        type="text/javascript"> $('#rec38921760').find('.js-form-proccess').on('tildaform:aftererror', function (e) { e.preventDefault(); t720_fixcontentheight('38921760'); });</script>
</div>

<div id="rec38921761" class="r t-rec r_anim r_showed" style=" " data-record-type="215">
    <a name="contacts" style="font-size:0;"></a></div>

<div id="rec38921762" class="r t-rec t-rec_pt_150 t-rec_pb_150 r_anim r_showed"
    style="padding-top:150px;padding-bottom:150px; background-color: #030303;" data-record-type="551">

    <!-- t551-->
    <div class="t551">
        <div class="t-container">

            <div class="t-col t-col_6 t-prefix_3 t-align_center">

                <div class="t551__title t-name t-name_xs t-align_center" style="color: #ffffff;" field="title"
                    data-animate-order="1">
                    <a style="box-shadow: inset 0px -1px 0px 0px transparent; border-bottom: 0px"><img src="{% static 'frpv/img/logo.png' %}"
                            style="box-shadow: inset 0px -1px 0px 0px transparent; filter: invert(100%); text-align-last: right;"><br></a>
                    Региональный фонд <br>развития промышленности<br> Воронежской области</div>

                <div class="t551__contacts t-descr t-descr_s" style="color: #ffffff; font-size: 16px;" field="text"
                    data-animate-order="2" data-animate-delay="0.3">
                    Адрес: г. Воронеж, площадь Ленина, 6а, 3 этаж<br>
                    Телефон: +7 (473) 212-75-01, 212-75-04, 212-75-05<br>
                    E-mail: rfrp@govvrn.ru <br>
                    Официальный сайт: http://rfrp36.ru/
                </div>

                <div class="t551__address t-text t-text_sm" style="color: #ffffff;" field="text2" data-animate-order="3"
                    data-animate-delay="0.3">
                    Мы в социальных сетях:</div>
                <div class="t-sociallinks">
                    <div class="t-sociallinks__wrapper">
                        <div class="t-sociallinks__item">
                            <a href="https://google.com/" target="_blank">
                                <svg class="t-sociallinks__svg" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48"
                                    enable-background="new 0 0 48 48" xml:space="preserve">
                                    <desc>Facebook</desc>
                                    <path style="fill:#ffffff;"
                                        d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z">
                                    </path>
                                </svg> </a> </div>

                        <div class="t-sociallinks__item">
                            <a href="https://google.com/" target="_blank">
                                <svg class="t-sociallinks__svg" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48"
                                    enable-background="new 0 0 48 48" xml:space="preserve">
                                    <desc>Twitter</desc>
                                    <path style="fill:#ffffff;"
                                        d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76 S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.455-1.926 c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367 c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077 c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109 c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084 c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789 c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375">
                                    </path>
                                </svg> </a> </div>

                        <div class="t-sociallinks__item">
                            <a href="https://google.com/" target="_blank">
                                <svg class="t-sociallinks__svg" version="1.1" id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve">
                                    <desc>Instagram</desc>
                                    <path style="fill:#ffffff;"
                                        d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z">
                                    </path>
                                    <path style="fill:#ffffff;"
                                        d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z">
                                    </path>
                                    <path style="fill:#ffffff;"
                                        d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z">
                                    </path>
                                </svg> </a> </div>
                    </div>

                </div>

                <div class="t182__buttons">
                    <a href="http://cluster36.ru/" target="" class="t-btn t-animate t-animate_started"
                        data-animate-style="fadeinup" data-animate-group="yes"
                        style="color: rgb(255, 255, 255); background-color: crimson; border-radius: 3px; text-transform: uppercase; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;">
                        <table style="width:100%; height:100%; border:0">
                            <tbody>
                                <tr>
                                    <td style="width: 200px;">
                                        <p style="font-style: normal; text-transform: none;">
                                            Перейти на старый сайт</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rec38921763" class="r t-rec r_anim r_showed" style="padding-bottom: 0px; " data-record-type="394">

    <style>
        #allrecords .t-text a,
        #allrecords .t-descr a,
        #allrecords .t-heading a,
        #allrecords .t-title a,
        #allrecords .t-impact-text a,
        #allrecords .t-text-impact a,
        #allrecords .t-name a,
        #allrecords .t-uptitle a {
            color: inherit;
            font-weight: inherit;
            border-bottom: 0px solid #f3cf02;
            -webkit-box-shadow: inset 0px -1px 0px 0px #f53302;
            -moz-box-shadow: inset 0px -1px 0px 0px #f5914f;
            box-shadow: inset 0px -1px 0px 0px #09c7c7;
        }
    </style>
</div>


</div>
<!--/allrecords-->


<!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="426094#1972363">
    <a href="https://tilda.cc/?upm=426094" class="t-tildalabel__link">
        <div class="t-tildalabel__wrapper">
            <div class="t-tildalabel__txtleft">Made on </div>
            <div class="t-tildalabel__wrapimg">
                <img src="{% static 'frpv/index_files/tildacopy.png' %}" class="t-tildalabel__img"></div>
            <div class="t-tildalabel__txtright">Tilda</div>
        </div>
    </a></div>

{% endblock body %}