{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Комплектующие изделия</title>
{% endblock title %}
{% block content %}
<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Совместные программы с ФРП</div>
            </div>
        </div>
    </div>
    <div class="t-container">
        <div class="t509__colwrapper t-col t-col_12 ">
            
            
            
            
           

            <div class="t509__col t-col t-col_6 t509__rightcol t509__desktopimg">
                <div class="t509__imgwrapper" style="max-width:600px;">
                    <div class="t509__blockimg t-bgimg loaded" bgimgfield="li_img__1481206097863"
                        data-original="https://static.tildacdn.com/tild3563-3461-4636-b131-633538386164/photo.jpg"
                        style="background-image: url(&quot;https://thumb.tildacdn.com/tild3563-3461-4636-b131-633538386164/-/cover/560x420/center/center/-/format/webp/photo.jpg&quot;); padding-bottom: 75%;"
                        data-image-width="600" data-image-height="450" src=""></div>
                </div>
            </div>


            <div class="t509__col t-col t-col_6 t509__leftcol">
                <div class="t509__textwrapper t-align_left"
                    style=" padding-left: 50px; max-width: 800px; height: 420px;">
                    <div class="t509__content t-valign_middle">
                        <div class="t509__box">
                            <div class="t509__title t-heading t-heading_xs t-margin_auto"
                                field="li_title__1476897493817" style="">Программа "Комплектующие изделия"</div>
                            <div class="t509__descr t-descr t-descr_sm t-margin_auto" field="li_descr__1481206097863"
                                style="padding-bottom: 110px;">
                                В рамках программы льготное заёмное софинансирование на проекты, направленные на
                                организацию и/или модернизацию производства комплектующих изделий, применяемых в составе
                                промышленной продукции, предоставляют федеральный и региональный
                                фонды развития промышленности совместно в соотношении 70% (федеральные средства) на 30%
                                (средства регионов). <br><br>

                                Размер займа, предоставляемого одной организации, составляет от 20 до 100 млн руб.
                            </div><br> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

</div>
{% endblock content %}

