{% extends 'frpv/default_page.html' %}

{% load static %}

{% block title %}
<title>Бизнес-навигатор | {{ title }}</title>
{% endblock title %}


{% block main %}

{% block content %}

 <div id="rec38921754" class="r t-rec t-rec_pt_150 t-rec_pb_180"
        style=" background-color:#f7f7f7; " data-record-type="490"
        data-bg-color="#f5f5f5" data-animationappear="off">
        <!-- t490 -->
        <style>
            table .wrap{
             height: 900px;
             width: 900px; /* Ширина таблицы */
             border: 1px solid rgb(0, 0, 0); /* Рамка вокруг таблицы */
             margin: auto; /* Выравниваем таблицу по центру окна  */
            }
            .wrap td{
            width: 100px;
            height: 50px;
             text-align: top ; /* Выравниваем текст по центру ячейки */
            }
           </style>

<div class="t490">
<div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">
                            {{ title }}</div>
                    </div>
                </div>
            </div>

</div>

        <table style="margin: auto; padding-right: 500px;"  class='wrap t-align_center' >



{% for row in rows %}


            <tr >
                {% if row.image %}
                <td> <!-- img -->
                    <div class="t486__imgcontainer">
                        <div class="t486__row" style=" height: 15px; padding: 20px;">

                            <div class="t486__imgwrapper" style=" padding: 90px;">
                                <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                                    data-original=""
                                    style="background-color: #f7f7f7; color: #000000;  height: 0px;"
                                    src="">
                                    <img src="{{ row.image.url }}"
                                        data-original="{{ row.image.url }}" class="
                                        t490__img t-img loaded" imgfield="li_img__1476968722790"
                                        style="width:100px">
                               </div>
                                <div class="t493__textwrapper t-cell t-valign_middle">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                {% endif %}

                <td><!-- text -->
                <div class="t486__imgwrapper" style=" padding: 90px;">
                    <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                        data-original=""
                        style="background-color: #f7f7f7; color: #000000; "
                        src="">
                        <div class="t-section__title t-title t-align_left"
                            field="btitle" style="text-align: center;  font-size: 20px; width: 700px;" >
                            {% if row.attachment %}
                            <a  href="{{ row.attachment.url }}">{{ row.text }}</a>
                            {% else %}
                            <div class="t493__textwrapper t-cell t-valign_middle">{{ row.text }}</div>
                            {% endif %}
                        </div>
                    </div>

                </div>
                </td>
            </tr>
          
  {% endfor %}


</table>
 </div>

{% endblock content %}
{% endblock main %}