{% extends 'frpv/index.html' %}

{% load static %}
{% block title %}
    <title>Бизнес-навигатор</title>
{% endblock title %}


{% block nav %}
<!-- T446 -->
            <div id="nav38921750marker"></div>
            <div id="nav38921874" class="t228 t228__positionabsolute "
                style="padding-top: 4px; border-bottom: 1px solid white; background-color: #0a2f79;"
                data-bgcolor-hex="#ffffff" data-bgcolor-rgba="rgba(255,255,255,0.0)" data-navmarker="nav38921874marker"
                data-appearoffset="" data-bgopacity-two="" data-menushadow="0" data-bgopacity="0.0"
                data-menu-items-align="right" data-menu="yes" data-bgcolor-setbyscript="yes">
                <div class="t228__maincontainer t228__c12collumns" style="">
                    <div class="t228__padding40px"></div>
                    <div style="filter: invert(100%); padding-top: 10px;"> <a><img  src="{% static 'frpv/img/logo.png' %}"></a></div>
                    <div class="t228__leftside">

                        <div class="t228__leftcontainer" >

                            <div class="t228__logo t-title" field="title"
                                style="color:#ffffff;font-size:12px;font-weight:700;">

                                Региональный фонд <br>развития промышленности<br> Воронежской области</div>
                        </div>
                    </div>


                    <div class="t228__rightside">
                        <div class="t228__rightcontainer">
                            <div class="t228__right_buttons">
                                <div class="t228__right_buttons_wrap">
                                    <div class="t228__right_buttons_but">
                                        <a href="{% url 'frpv:index' %}" target="" class="t-btn " style="padding-left: 0px; padding-right: 0px; color:#ffffff;background-color: crimson;">
                                            <table style="width:150px; height:100%;">
                                                <tbody ><tr><td style="padding: 0px">На главную</td></tr></tbody></table></a></div> </div> </div> </div> </div>

                </div>


            </div>



    <script type="text/javascript">	$(document).ready(function () { t446_setLogoPadding('38921750'); }); var t446__doResize; $(window).resize(function () { t446_checkOverflow('38921750', '100'); clearTimeout(t446__doResize); t446__doResize = setTimeout(function () { t446_checkOverflow('38921750', '100'); }, 200); }); $(window).load(function () { t446_checkOverflow('38921750', '100'); }); $(document).ready(function () { t446_checkOverflow('38921750', '100'); }); $(document).ready(function () { t446_highlight(); });
        $(window).resize(function () {
            t446_setBg('38921750');
        });
        $(document).ready(function () {
            t446_setBg('38921750');
        });</script>
    <!--[if IE 8]>
    <style>#rec38921750 .t446 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}</style><![endif]-->
    </div>
{% endblock nav %}


{% block main %}


    <div id="rec38921754" class="r t-rec t-rec_pt_150 t-rec_pb_180"
        style=" padding-top:1px;padding-bottom:198px;background-color:#f7f7f7; " data-record-type="490"
        data-bg-color="#f5f5f5" data-animationappear="off">
        <!-- t490 -->
        <style>
            table .wrap{
             height: 900px;
             width: 900px; /* Ширина таблицы */
             border: 1px solid rgb(0, 0, 0); /* Рамка вокруг таблицы */
             margin: auto; /* Выравниваем таблицу по центру окна  */
             
            }
            .wrap td{
                
            width: 500px;
            height: 300px;
             text-align: top ; /* Выравниваем текст по центру ячейки */
            }
           </style>
        
        
        
        
        <table class='wrap t-align_center' style="margin: auto;" >
        <caption>
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" style="" field="btitle">
                            Меры господдержки на федеральном уровне</div>
                    </div>
                </div>
            </div>
        </caption>



        
{% for row in fed %}


            <tr>
                <td> <!-- img -->
                    <div class="t486__imgcontainer">
                        <div class="t486__row" style="height: 15px; padding: 20px;">
                            <div class="t486__imgwrapper" style=" padding: 90px;">
                                <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                                    data-original=""
                                    style="background-color: #f7f7f7; color: #000000;  height: 0px;"
                                    src="">
                                    <img src="{{ row.image.url }}"
                                        data-original="{{ row.image.url }}" class="
                                        t490__img t-img loaded" imgfield="li_img__1476968722790"
                                        style="width:300px">
                               </div>
                                <div class="t493__textwrapper t-cell t-valign_middle">
                                </div>
                            </div>
                        </div>
                    </div>   
                </td>
                
                
                <td ><!-- text -->  
                <div class="t486__imgwrapper" style=" padding: 90px;">
                    <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                        data-original=""
                        style=" background-color: #f7f7f7; color: #000000; "
                        src="">
                        <div class="t-section__title t-title t-align_left"
                            field="btitle" style=" padding: 1px; font-size: 20px; width: 400px;" > 
                            <a href="{% url 'frpv:nav_detail' row.header %}">{{ row.text }}</a>
                        </div>
                    </div>
                    <div class="t493__textwrapper t-cell t-valign_middle">
                    </div>
                </div>    
                </td>
            </tr>
            <br>
            <br>
  {% endfor %}          


</table>



<!-- Меры господдержки на региональном уровне -->
<table class='wrap' style="margin: auto; ">
    
    <caption>
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center" >
                    <div class="t-section__title t-title t-title_xs" style="padding: 50px;" field="btitle">
                        Меры господдержки на региональном уровне</div>
                </div>
            </div>
        </div>
    </caption>
<!-- Контейнер откр1 -->
{% for row in reg %}

        <tr style="box-shadow: inset 0px -1px 0px 0px #ffffff;border-bottom: 0px">
            <td> <!-- Картинка -->

                <div class="t486__imgcontainer">
                    <div class="t486__row" style="height: 15px; padding: 20px;">
                        <div class="t486__imgwrapper" style=" padding: 20px;">
                            <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                                data-original=""
                                style="background-color: #f7f7f7; color: #000000;  height: 0px;"
                                src="">
                                <img src="{{ row.image.url }}"
                                    data-original={{ row.image.url }} class="
                                    t490__img t-img loaded" imgfield="li_img__1476968722790"
                                    style="width:300px">
                           </div>
                            <div class="t493__textwrapper t-cell t-valign_middle">
                            </div>
                        </div> 
                    </div>  
                </div>
            </td>


            <td>  <!-- Текст от  картинки -->
            
        
            <div class="t486__imgwrapper" style=" padding: 10px;">
                <div class="t486__blockimg t-bgimg loaded" bgimgfield="img"
                    data-original=""
                    style="background-color: #f7f7f7; color: #000000; height: 250px; "
                    src="">
                    <div class="t-section__title t-title t-align_left"
                        field="btitle" style=" padding: 1px; font-size: 20px; width: 500px;" >
                        <a href="{% url 'frpv:nav_detail' row.header %}">{{ row.text }}</a>


                    </div>
                </div>
                <div class="t493__textwrapper t-cell t-valign_middle">
                </div>
            </div>    
            </td>
        </tr>

        
    <br>
<!-- контейнер закр -->
{% endfor %}

</table>
</div>


{% endblock main %}