
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--metatextblock-->
    <title>АУ "РФРП ВО" | Заявка на финансирование</title>
    <meta name="description" content="Fill several fields" />
    <meta property="og:url" content="http://examples.tilda.ws/simpleform" />
    <meta property="og:title" content="A basic form" />
    <meta property="og:description" content="Fill several fields" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://static.tildacdn.com/tild6139-6132-4233-b862-373266656533/image.png" />
    <link rel="canonical" href="http://examples.tilda.ws/simpleform"><!--/metatextblock-->
    <meta property="fb:app_id" content="257953674358265" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://tilda.ws">
    <link rel="dns-prefetch" href="https://static.tildacdn.com">
    <link rel="shortcut icon" href="{% static 'frpv/img/favicon.ico' %}" type="image/x-icon">
    <!-- Assets -->
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://tilda.ws/project678/tilda-blocks-2.12.css?t=1565344002" type="text/css" media="all" />
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css" media="all" />
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js"></script>
    <script src="https://tilda.ws/project678/tilda-blocks-2.7.js?t=1565344002"></script>
    <script src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-forms-1.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
</head>

<body class="t-body" style="margin:0;">
<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="678" data-tilda-page-id="1607082" data-tilda-page-alias="simpleform" data-tilda-formskey="b16a0f3730280f0a3d48174022fce3a2" >

    <div id="nav38921750marker"></div>
    <div id="nav38921874" class="t228 t228__positionabsolute "
         style="border-bottom: 1px solid white; background-color: rgba(255, 255, 255, 0);" data-bgcolor-hex="#ffffff" data-bgcolor-rgba="rgba(255,255,255,0.0)" data-navmarker="nav38921874marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="0" data-bgopacity="0.0" data-menu-items-align="right" data-menu="yes" data-bgcolor-setbyscript="yes">
        <div class="t228__maincontainer t228__c12collumns" style="">
            <div class="t228__padding40px"></div>
            <div class="t228__leftside">

                <div class="t228__leftcontainer">
<!--                    <img src="url({% static 'frpv/img/logo.png' %})" style="float: left;">-->
                    <div class="t228__logo t-title" field="title" style="color:#ffffff;font-size:12px;font-weight:700;">

                        Региональный фонд <br>развития промышленности<br> Воронежской области</div>
                </div> </div>
            <div class="t228__centerside t228__menualign_right">
                <div class="t228__centercontainer">
                    <ul class="t228__list ">
                        <li class="t228__list_item"><a class="t-menu__link-item" href="" style="color:#ffffff;font-weight:600;" data-menu-item-number="1">О ФОНДЕ</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="" style="color:#ffffff;font-weight:600;" data-menu-item-number="2">УСЛУГИ</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="" style="color:#ffffff;font-weight:600;" data-menu-item-number="3">НАШИ ПАРТНЕРЫ</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="" style="color:#ffffff;font-weight:600;" data-menu-item-number="3">ПРЕСС-ЦЕНТР</a></li>
                        <li class="t228__list_item"><a class="t-menu__link-item" href="" style="color:#ffffff;font-weight:600;" data-menu-item-number="3">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
            <div class="t228__rightside">
                <div class="t228__rightcontainer">
                    <div class="t228__right_buttons">
                        <div class="t228__right_buttons_wrap">
                            <div class="t228__right_buttons_but">
                                <a href="" target="" class="t-btn " style="color:#ffffff;background-color: crimson;">
                                    <table style="width:100%; height:100%;">
                                        <tbody><tr><td>Поиск</td></tr></tbody></table>
                                </a></div> </div> </div> </div> </div>
            <div class="t228__padding40px"></div>
        </div>


    </div>


    <div id="rec32538354" class="r t-rec t-rec_pt_150 t-rec_pb_120" style="padding-top:150px;padding-bottom:120px;background-color:#346cdb; " data-record-type="255" data-bg-color="#346cdb">

        <!-- T225 -->
        <div class="t225">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t225__title t-title t-title_md" field="title" style="color:#ffffff;">
                        Заявка на финансирование</div>
                    <div class="t182__descr t-descr t-descr_lg t-animate t-animate_started" data-animate-style="fadeinup" data-animate-group="yes" style="transition-delay: 0.3s;" field="descr">
                        Все поля обязательны для заполнения. Наши менеджеры свяжутся с Вами в течение суток.
                    </div>
                </div> </div></div></div>

    <div id="rec32538356" class="r t-rec t-rec_pt_105 t-rec_pb_75" style="padding-top:105px;padding-bottom:75px; " data-animationappear="off" data-record-type="678" >
        <!-- t678 -->
        <div class="t678 ">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2">
                    <div>
                        <form action="{% url 'frpv:send' %}" method="post">
                            {% csrf_token %}
                            <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;"></div>
                            <div class="t-form__inputsbox">

                                <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1494858943227" style="">
                                        Полное наименование организации</div>
                                    <div class="t-input-block">
                                        <input type="text" name="name" class="t-input js-tilda-rule " value=""  data-tilda-req="1"
                                               data-tilda-rule="name" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_em" data-input-lid="1493283059688">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1493283059688" style="">
                                        ОГРН</div>
                                    <div class="t-input-block">
                                        <input type="text" name="OGRN" class="t-input js-tilda-rule " value="" data-tilda-req="1"
                                               data-tilda-rule="" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        ИНН</div>
                                    <div class="t-input-block">
                                        <input type="text" name="INN" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Руководитель проекта: Ф.И.О., номер телефона</div>
                                    <div class="t-input-block">
                                        <input type="text" name="chief" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Адрес электронной почты</div>
                                    <div class="t-input-block">
                                        <input type="email" name="email" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="email" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Цель и краткое описание проекта (Включая раздел вида экономической деятельности в рамках которой планируется проект для финансирования)</div>
                                    <div class="t-input-block">
                                        <input type="text" name="target" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Общая стоимость проекта</div>
                                    <div class="t-input-block">
                                        <input type="text" name="price_project" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Срок реализации проекта</div>
                                    <div class="t-input-block">
                                        <input type="text" name="implementation_period" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Сумма собственных вложений</div>
                                    <div class="t-input-block">
                                        <input type="text" name="sum_of_self_investments" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Сумма запрашиваемого займа</div>
                                    <div class="t-input-block">
                                        <input type="text" name="loan_amount" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text"  style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Срок пользования займа</div>
                                    <div class="t-input-block">
                                        <input type="text" name="term_use_of_the_loan" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text"  style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>

                                <div class="t-input-group t-input-group_ph" data-input-lid="1495040492013">
                                    <div class="t-input-title t-descr t-descr_md" data-redactor-toolbar="no" field="li_title__1495040492013" style="">
                                        Предлагаемое обеспечение</div>
                                    <div class="t-input-block">
                                        <input type="text" name="proposed_collateral" class="t-input js-tilda-rule " value=""
                                               data-tilda-rule="text" style="color:#000000; border:1px solid #000000; ">
                                        <div class="t-input-error"></div>
                                    </div>
                                </div>
                            </div>

                                <div class="t-form__errorbox-middle">
                                    <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                        <div class="t-form__errorbox-text t-text t-text_md">
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                        </div>
                                    </div>
                                </div>

                            <div class="t-form__submit">
                                <button type="submit" class="t-submit" style="color:#ffffff;background-color:crimson;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;" >
                                    ОТПРАВИТЬ</button>
                            </div>

                            <div class="t-form__errorbox-bottom">
                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                    <div class="t-form__errorbox-text t-text t-text_md">
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>
                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                    </div>
                                </div>
                            </div>

                        </form>


                        
                        <style>#rec32538356 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 input::-moz-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 input:-moz-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 input:-ms-input-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 textarea::-moz-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 textarea:-moz-placeholder {color:#000000; opacity: 0.5;}	#rec32538356 textarea:-ms-input-placeholder {color:#000000; opacity: 0.5;}</style> </div> </div> </div> </div> <style>#rec32538356 .t-btn[data-btneffects-first],
#rec32538356 .t-btn[data-btneffects-second],
#rec32538356 .t-submit[data-btneffects-first],
#rec32538356 .t-submit[data-btneffects-second] {	position: relative; overflow: hidden; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
}</style><script type="text/javascript">$(document).ready(function() {
});</script>
    </div>
</div>

<div id="rec38921759" class="r t-rec r_anim r_showed" style=" " data-record-type="215">
            <a name="form" style="font-size:0;"></a></div>
        <div id="rec38921760" class="r t-rec" style=" " data-animationappear="off" data-record-type="720">

            <!-- t720 -->
            <!-- cover -->
            <div class="t-cover" id="recorddiv38921760" bgimgfield="img" style="height:100vh; background-image:url(&#39;https://static.tildacdn.com/tild3964-3831-4932-b334-336562653062/-/resize/20x/blob.png&#39;);">
                <div class="t-cover__carrier loaded" id="coverCarry38921760" data-content-cover-id="38921760" data-content-cover-bg="https://static.tildacdn.com/tild3964-3831-4932-b334-336562653062/blob.png" data-content-cover-height="100vh" data-content-cover-parallax="" style="background-image: url(&quot;https://thumb.tildacdn.com/tild3964-3831-4932-b334-336562653062/-/format/webp/blob.png&quot;); height: 100vh; background-attachment: scroll;" src=""></div>
                <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));background-image: -o-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));background-image: linear-gradient(top, rgba(0,0,0,0.80), rgba(0,0,0,0.90));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=&#39;#33000000&#39;, endColorstr=&#39;#19000000&#39;);"></div>
                <div class="t720">
                    <div class="t-container">
                        <div class="t-width t-width_10 t720__mainblock t-align_center">
                            <div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index: 1;">
                                <div class="t720__mainwrapper" data-hook-content="covercontent">
                                    <div class="t720__textwrapper">
                                        <div class="t720__title t-title t-title_sm t-margin_auto" style="" field="title">
                                            Горячая линия</div>

                                        <div class="t720__descr t-descr t-descr_xl t-margin_auto" style="max-width:800px;" field="descr">
                                            Интересующие Вас вопросы можно задать по контактному телефону</div>
                                        <br><br>
                                        <div class="t720__title t-title t-title_sm t-margin_auto" style="" field="title">
                                            +7 (473) 212-75-01</div>


                                    </div>

                                    <div>

                                        <div class="t182__buttons">
                                        <a href="#" target="" class="t-btn t-animate t-animate_started" data-animate-style="fadeinup" data-animate-group="yes" style="color: rgb(255, 255, 255); background-color: crimson; border-radius: 3px; text-transform: uppercase; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;">
                                            <table style="width:100%; height:100%;">
                                                <tbody>
                                                <tr>
                                                    <td><p style="font-style: normal; text-transform: none;">Получить бесплатную консультацию</p></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </a>
                                    </div>
                                        <style>#rec38921760 input::-webkit-input-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 input::-moz-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 input:-moz-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 input:-ms-input-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 textarea::-webkit-input-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 textarea::-moz-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 textarea:-moz-placeholder {color:#ffffff; opacity: 0.5;}	#rec38921760 textarea:-ms-input-placeholder {color:#ffffff; opacity: 0.5;}</style>
                                    </div>
                                </div>
                            </div> </div> </div> </div> </div>
            <script type="text/javascript"> $('#rec38921760').find('.js-form-proccess').on('tildaform:aftererror', function(e){ e.preventDefault(); t720_fixcontentheight('38921760'); });</script>
        </div>



        <!-- FOOTER -->
        <div id="rec38921761" class="r t-rec r_anim r_showed" style=" " data-record-type="215">
            <a name="contacts" style="font-size:0;"></a></div>

        <div id="rec38921762" class="r t-rec t-rec_pt_150 t-rec_pb_150 r_anim r_showed"
             style="padding-top:150px;padding-bottom:150px; background-color: #030303;" data-record-type="551">

            <!-- t551-->
            <div class="t551">
                <div class="t-container" >
                    <div class="t-col t-col_6 t-prefix_3 t-align_center" >
                        <div class="t551__title t-name t-name_xs t-align_center" style="color: #ffffff;" field="title" data-animate-order="1">
                            Региональный фонд <br>развития промышленности<br> Воронежской области</div>

                        <div class="t551__contacts t-descr t-descr_s" style="color: #ffffff; font-size: 16px;" field="text" data-animate-order="2" data-animate-delay="0.3">
                            Адрес: г. Воронеж, площадь Ленина, 6а<br>
                            Телефон: +7 (473) 212-75-01<br>
                            E-mail: rfpv@govvrn.ru <br>
                            Официальный сайт: http://cluster36.ru/
                        </div>

                        <div class="t551__address t-text t-text_sm" style="color: #ffffff;" field="text2" data-animate-order="3" data-animate-delay="0.3">
                            Мы в социальных сетях:</div>
                        <div class="t-sociallinks">
                            <div class="t-sociallinks__wrapper">
                                <div class="t-sociallinks__item">
                                    <a href="https://google.com/" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                                            <desc>Facebook</desc>
                                            <path style="fill:#ffffff;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z"></path></svg> </a> </div>

                                <div class="t-sociallinks__item">
                                    <a href="https://google.com/" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
                                            <desc>Twitter</desc>
                                            <path style="fill:#ffffff;" d="M47.762,24c0,13.121-10.639,23.76-23.761,23.76S0.24,37.121,0.24,24c0-13.124,10.639-23.76,23.761-23.76 S47.762,10.876,47.762,24 M38.031,12.375c-1.177,0.7-2.481,1.208-3.87,1.481c-1.11-1.186-2.694-1.926-4.455-1.926 c-3.364,0-6.093,2.729-6.093,6.095c0,0.478,0.054,0.941,0.156,1.388c-5.063-0.255-9.554-2.68-12.559-6.367 c-0.524,0.898-0.825,1.947-0.825,3.064c0,2.113,1.076,3.978,2.711,5.07c-0.998-0.031-1.939-0.306-2.761-0.762v0.077 c0,2.951,2.1,5.414,4.889,5.975c-0.512,0.14-1.05,0.215-1.606,0.215c-0.393,0-0.775-0.039-1.146-0.109 c0.777,2.42,3.026,4.182,5.692,4.232c-2.086,1.634-4.712,2.607-7.567,2.607c-0.492,0-0.977-0.027-1.453-0.084 c2.696,1.729,5.899,2.736,9.34,2.736c11.209,0,17.337-9.283,17.337-17.337c0-0.263-0.004-0.527-0.017-0.789 c1.19-0.858,2.224-1.932,3.039-3.152c-1.091,0.485-2.266,0.811-3.498,0.958C36.609,14.994,37.576,13.8,38.031,12.375"></path></svg> </a> </div>

                                <div class="t-sociallinks__item">
                                    <a href="https://google.com/" target="_blank">
                                        <svg class="t-sociallinks__svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 30 30" xml:space="preserve">
                                            <desc>Instagram</desc>
                                            <path style="fill:#ffffff;" d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"></path>
                                            <path style="fill:#ffffff;" d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"></path>
                                            <path style="fill:#ffffff;" d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"></path></svg> </a> </div> </div>

                        </div>

                                <div class="t182__buttons">
                                        <a href="#" target="" class="t-btn t-animate t-animate_started" data-animate-style="fadeinup" data-animate-group="yes" style="color: rgb(255, 255, 255); background-color: crimson; border-radius: 3px; text-transform: uppercase; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;">
                                            <table style="width:100%; height:100%;">
                                                <tbody>
                                                <tr>
                                                    <td><p style="font-style: normal; text-transform: none;">
                                                        Перейти на старый сайт</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </a>
                                    </div>
                    </div>
                </div></div>
        </div>


<!--/allrecords-->
<!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="678#1607082">
    <a href="https://tilda.cc/?upm=678" class="t-tildalabel__link">
        <div class="t-tildalabel__wrapper">
            <div class="t-tildalabel__txtleft">Made on </div>
            <div class="t-tildalabel__wrapimg"><img src="https://static.tildacdn.com/img/tildacopy.png" class="t-tildalabel__img"></div>
            <div class="t-tildalabel__txtright">Tilda</div>
        </div>
    </a>
</div>

<!-- Stat -->
<script type="text/javascript">if (! window.mainTracker) { window.mainTracker = 'tilda'; }	(function (d, w, k, o, g) { var n=d.getElementsByTagName(o)[0],s=d.createElement(o),f=function(){n.parentNode.insertBefore(s,n);}; s.type = "text/javascript"; s.async = true; s.key = k; s.id = "tildastatscript"; s.src=g; if (w.opera=="[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); } })(document, window, 'a806436de779fa12cbd963d744879f58','script','https://stat.tildacdn.com/js/tildastat-0.2.min.js');</script>

</body>
</html>
<!--<a href='https://tilda.cc/registration/?startwithexample=1607082' style='text-decoration:none;'>-->
<!--    <div style='background-color:#ff8562; position:fixed; right:30px; bottom:30px; border-radius:40px; color:#fff; font-family:arial;padding:23px; z-index:100000; box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4); text-transform:uppercase; letter-spacing:1px;'>-->
<!--        <span style='text-decoration:none;color:#fff;font-size:13px; padding:0px 20px;'>Create new site</span></div>-->
<!--</a>-->