{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Новость подробнее</title>
{% endblock title %}
{% block content %}

<div id="rec38921754" class="r t-rec t-rec_pt_150 t-rec_pb_180"
    style="padding-top:1px;padding-bottom:98px;background-color:#f7f7f7; min-height: 600px;" data-record-type="490" data-bg-color="#f5f5f5" data-animationappear="off">
    <style>
        table {
         height: 900px;
         width: 900px; /* Ширина таблицы */
         border: 0px solid rgb(0, 0, 0); /* Рамка вокруг таблицы */
         margin: auto; /* Выравниваем таблицу по центру окна  */
        }
            td {
        width: 900px;
         text-align: top: ;; /* Выравниваем текст по центру ячейки */
        }
       </style>
    <table>

    <caption>
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" style="padding: 50px;" field="btitle">
                        Важная новость</div>
                </div>
            </div>
        </div>
    </caption>

       
<tr>
  <td>

    <div class="t-cell t-valign_top">                 
      <div class="t508__textwrapper t-cell t-valign_top" style="">
          <img src="{% static 'frpv/img/calendar.png' %} " width="10px">
          <div class="t-name t-name_md t508__bottommargin" style="font-size: 12px; color: gray;" field="li_title__1476889049104">
              Дата: 26.03.2020, Тема: Важная 
          </div>

          <div class="t-descr t-descr_sm" style="" field="li_descr__1476889049104">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Tincidunt arcu non sodales neque sodales. In tellus integer feugiat scelerisque varius morbi. 
            Quam lacus suspendisse faucibus interdum posuere lorem ipsum. 
            Eu non diam phasellus vestibulum lorem sed risus. Ornare aenean euismod elementum nisi. 
            Id diam maecenas ultricies mi eget mauris. Quis commodo odio aenean sed adipiscing diam donec. 
            Diam ut venenatis tellus in metus vulputate eu. Rhoncus mattis rhoncus urna neque viverra justo nec. 
            Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Massa tempor nec feugiat nisl pretium fusce id.
             Vitae sapien pellentesque habitant morbi tristique. Eget dolor morbi non arcu risus. Bibendum arcu vitae elementum curabitur vitae nunc.
              Sit amet purus gravida quis blandit turpis cursus in hac. Sagittis vitae et leo duis ut diam quam nulla porttitor. 
              Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Donec ultrices tincidunt arcu non sodales neque sodales ut.
               Quam vulputate dignissim suspendisse in est ante in nibh mauris.

            A iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Vitae ultricies leo integer malesuada nunc vel risus commodo.
             Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. Eget nulla facilisi etiam dignissim diam. Velit dignissim sodales ut eu sem integer.
              Dictumst vestibulum rhoncus est pellentesque. Nunc consequat interdum varius sit. Ultricies integer quis auctor elit sed. 
              Etiam erat velit scelerisque in dictum non consectetur a. Dui id ornare arcu odio ut. Diam vel quam elementum pulvinar etiam non. 
              Bibendum neque egestas congue quisque. Vitae tortor condimentum lacinia quis. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. 
              Elit pellentesque habitant morbi tristique. Viverra adipiscing at in tellus. Interdum velit laoreet id donec ultrices tincidunt arcu non.
               Faucibus in ornare quam viverra orci sagittis eu.
            
            Enim nulla aliquet porttitor lacus luctus accumsan. Congue eu consequat ac felis donec. Odio pellentesque diam volutpat commodo sed.
             Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Eget nulla facilisi etiam dignissim diam. Gravida neque convallis a cras semper auctor neque vitae tempus. 
             Ornare aenean euismod elementum nisi quis eleifend quam. Arcu felis bibendum ut tristique et. In iaculis nunc sed augue. Vulputate mi sit amet mauris commodo quis imperdiet. 
             Sed risus ultricies tristique nulla aliquet enim. Adipiscing elit duis tristique sollicitudin nibh sit. Orci ac auctor augue mauris augue neque. 
             Turpis egestas integer eget aliquet nibh praesent tristique magna.
            
            Elit ut aliquam purus sit amet luctus venenatis lectus. Fames ac turpis egestas maecenas. Pharetra vel turpis nunc eget. Donec massa sapien faucibus et. 
            Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Id velit ut tortor pretium viverra suspendisse potenti. Non curabitur gravida arcu ac tortor.
             Non tellus orci ac auctor augue mauris augue neque. Quam pellentesque nec nam aliquam sem et tortor consequat id. Quam vulputate dignissim suspendisse in. 
             Condimentum mattis pellentesque id nibh tortor id aliquet lectus proin. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. 
             Tempor id eu nisl nunc mi ipsum faucibus. At auctor urna nunc id cursus metus. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero. 
             Sed libero enim sed faucibus. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Eget dolor morbi non arcu risus quis. Vel facilisis volutpat est velit egestas dui.
              Mollis nunc sed id semper risus in hendrerit.
            
            Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Nunc id cursus metus aliquam eleifend mi. Sit amet justo donec enim diam vulputate ut.
             Gravida neque convallis a cras. Enim sed faucibus turpis in eu mi bibendum neque egestas.
              Congue eu consequat ac felis donec et odio. Non arcu risus quis varius quam quisque id diam vel. 
              Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Faucibus nisl tincidunt eget nullam non nisi est sit amet. Neque volutpat ac tincidunt vitae.
               Neque volutpat ac tincidunt vitae semper.
          </div>
      </div>
  </div> 

  </td>
</tr>


</table>

</div><!-- /rec -->

{% endblock content %}