{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Проекты развития</title>
{% endblock title %}
{% block content %}


<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Совместные программы с ФРП</div>
            </div>
        </div>
    </div>
    <div class="t-container">
        <div class="t509__colwrapper t-col t-col_12 ">
            <div class="t509__col t-col t-col_6 t509__mobileimg">
                <div class="t509__blockimg t-bgimg" bgimgfield="li_img__1476897493817"
                    data-original="https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/photo.jpg"
                    style="background-image: url(&quot;https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/-/resizeb/20x/photo.jpg&quot;); padding-bottom: 75%;"
                    data-image-width="600" data-image-height="450"></div>
            </div>
            <div class="t509__col t-col t-col_6 t509__leftcol t509__desktopimg">
                <div class="t509__imgwrapper" style="max-width:600px;">
                    <div class="t509__blockimg t-bgimg loaded" bgimgfield="li_img__1476897493817"
                        data-original="https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/photo.jpg"
                        style="background-image: url(&quot;https://thumb.tildacdn.com/tild3863-3761-4138-a539-343733386561/-/cover/560x420/center/center/-/format/webp/photo.jpg&quot;); padding-bottom: 75%;"
                        data-image-width="600" data-image-height="450" src=""></div>
                </div>
            </div>
            <div class="t509__col t-col t-col_6 t509__rightcol">
                <div class="t509__textwrapper t-align_left" style="max-width: 800px; height: 620px;">
                    <div class="t509__content t-valign_middle">
                        <div class="t509__box">
                            <div class="t509__title t-heading t-heading_xs t-margin_auto"
                                field="li_title__1476897493817" style="">Программа "Проекты развития"</div>
                            <div class="t509__descr t-descr t-descr_sm t-margin_auto" field="li_descr__1476897493817"
                                style="">Федеральный и региональный фонды развития промышленности предоставляют льготное заёмное 
                                софинансирование (в соотношении: 70% -федеральные средства, 30% - средства регионов) на проекты, 
                                направленные на импортозамещение и производство конкурентоспособной продукции гражданского назначения.<br>
                                <br>Размер займа, предоставляемого одной организации, составляет от 20 до 100 млн руб. Заем выдается под:<br>
                                <br>∙ 5% (базовая ставка);<br>
                                <br> ∙ 3% (базовая ставка в первые 3 года при наличии банковской гарантии);<br>
                                <br> ∙ 1% (при экспорте ≥50% продукции от суммы займа в год).<br>
                                <br> При покупке российского оборудования скидка к базовой ставке составляет 2%.
                                <br> Софинансирование со стороны заявителя, частных инвесторов или банков ≥ 50% бюджета проекта, 
                                в том числе за счет собственных средств/средств акционера ≥ 15% от суммы займа.
                                <br>Общий бюджет проекта должен составлять не менее 40 млн руб. Целевой объем продаж новой продукции -
                                 не менее 50% от суммы займа в год, начиная со 2 года серийного производства.
                                 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t509__separator t-clear" style=""></div>
           

            


            
        </div>





    </div>
</div>

</div>



{% endblock content %}

