{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Проекты развития</title>
{% endblock title %}
{% block content %}


<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Совместные программы с ФРП</div>
            </div>
        </div>
    </div>
    <div class="t-container">
        <div class="t509__colwrapper t-col t-col_12 ">
            <div class="t509__col t-col t-col_6 t509__mobileimg">
                <div class="t509__blockimg t-bgimg" bgimgfield="li_img__1476897493817"
                    data-original="https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/photo.jpg"
                    style="background-image: url(&quot;https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/-/resizeb/20x/photo.jpg&quot;); padding-bottom: 75%;"
                    data-image-width="600" data-image-height="450"></div>
            </div>
            <div class="t509__col t-col t-col_6 t509__leftcol t509__desktopimg">
                <div class="t509__imgwrapper" style="max-width:600px;">
                    <div class="t509__blockimg t-bgimg loaded" bgimgfield="li_img__1476897493817"
                        data-original="https://static.tildacdn.com/tild3863-3761-4138-a539-343733386561/photo.jpg"
                        style="background-image: url(&quot;https://thumb.tildacdn.com/tild3863-3761-4138-a539-343733386561/-/cover/560x420/center/center/-/format/webp/photo.jpg&quot;); padding-bottom: 75%;"
                        data-image-width="600" data-image-height="450" src=""></div>
                </div>
            </div>
            <div class="t509__col t-col t-col_6 t509__rightcol">
                <div class="t509__textwrapper t-align_left" style="max-width: 800px; height: 420px;">
                    <div class="t509__content t-valign_middle">
                        <div class="t509__box">
                            <div class="t509__title t-heading t-heading_xs t-margin_auto"
                                field="li_title__1476897493817" style="">Программа "Проекты развития"</div>
                            <div class="t509__descr t-descr t-descr_sm t-margin_auto" field="li_descr__1476897493817"
                                style="">В
                                рамках программы «Проекты развития» льготное заёмное софинансирование на проекты,
                                направленные на
                                импортозамещение и производство конкурентоспособной продукции гражданского назначения,
                                предоставляют федеральный и региональные фонды развития промышленности совместно в
                                соотношении
                                70% (федеральные средства) на 30% (средства регионов).
                                <br>Размер займа, предоставляемого одной
                                организации, составляет от 20 до 100 млн руб. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t509__separator t-clear" style=""></div>
            <div class="t509__col t-col t-col_6 t509__mobileimg">
                <div class="t509__blockimg t-bgimg" bgimgfield="li_img__1481206097863"
                    data-original="https://static.tildacdn.com/tild3563-3461-4636-b131-633538386164/photo.jpg"
                    style="background-image: url(&quot;https://static.tildacdn.com/tild3563-3461-4636-b131-633538386164/-/resizeb/20x/photo.jpg&quot;); padding-bottom: 75%;"
                    data-image-width="600" data-image-height="450"></div>
            </div>

            


            
        </div>





    </div>
</div>

</div>



{% endblock content %}

