{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Реализованные проекты</title>
{% endblock title %}
{% block content %}


<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Реализованные проекты</div>
            </div>
        </div>
    </div>
    <div class="t-container">
        <div class="t509__colwrapper t-col t-col_12 ">
            
            
            
            
           

            <div class="t509__col t-col t-col_6 t509__rightcol t509__desktopimg">
                <div class="t509__imgwrapper" style="max-width:600px;">
                    <div class="t509__blockimg t-bgimg loaded" bgimgfield="li_img__1481206097863"
                        data-original=""
                        style=" padding-top: 10%;"
                        data-image-width="600" data-image-height="450" >
                        <img src="{% static 'frpv/img/Borisoglebsk.jpg' %}">
                    </div>
                </div>
            </div>


            <div class="t509__col t-col t-col_6 t509__leftcol">
                <div class="t509__textwrapper t-align_left"
                    style=" padding-left: 50px; max-width: 800px; height: 420px;">
                    <div class="t509__content t-valign_middle">
                        <div class="t509__box">
                            <div class="t509__descr t-descr t-descr_sm t-margin_auto" field="li_descr__1481206097863"
                                style="padding-bottom: 110px;">
                                АО «Борисоглебский трикотаж» получило в 2019 году государственную поддержку в форме 
                                льготного займа на создание производства чулочно-носочных изделий 
                                с использованием технологии оплетенных эластомерных нитей.
                                 Проект совместно профинансирован за счет средств федерального
                                  (17,5 млн рублей) и регионального (7,5 млн) фондов развития промышленности. 
                            </div><br> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>

</div>

<table border="1" cellspacing="0" cellpadding="0" align="center">
    <thead>
    <tr>
    <td width="58%">
    <div align="center">Отдел</div></td>
    <td width="14%">
    <div align="center">Кабинет</div></td>
    <td>
    <div align="center">Телефон&nbsp;<br> (внутренний телефон)</div></td>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td width="58%">
    <div>Ректорат</div></td>
    <td>
    <div align="center">209</div></td>
    <td>
    <div align="center">221-00-69 (201)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Первый проректор</div></td>
    <td>
    <div align="center">209</div></td>
    <td>
    <div align="center">246-41-13 (215)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Секретарь ректора</div></td>
    <td>
    <div align="center">209</div></td>
    <td>
    <div align="center">221-00-69 (201)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Проректор по учебной и воспитательной работе</div></td>
    <td>
    <div align="center">204</div></td>
    <td width="26%">
    <div align="center">239-25-03 (204)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Проректор по научной работе</div></td>
    <td>
    <div align="center">305</div></td>
    <td>
    <div align="center">221-00-69 (214) </div></td>
    </tr>
      
    <tr>
    <td width="58%">
    <div>Проректор по административным и социальным вопросам</div></td>
    <td>
    <div align="center">201</div></td>
    <td>
    <div align="center">246-38-97 (208)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Помощник ректора, ответственный секретарь приемной комиссии</div></td>
    <td>
    <div align="center">205</div></td>
    <td>
    <div align="center">239-25-01 (203)</div></td>
    </tr>
      <tr>
    <td width="58%">
    <div>Директор колледжа</div></td>
    <td>
    <div align="center">201</div></td>
    <td>
    <div align="center">246-38-97 (209)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Бухгалтерия</div></td>
    <td>
    <div align="center">202, 203</div></td>
    <td>
    <div align="center">221-00-78 (207)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Бухгалтер по оплате</div></td>
    <td>
    <div align="center">103</div></td>
    <td>
    <div align="center">(241)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Управление кадров</div></td>
    <td>
    <div align="center">108</div></td>
    <td>
    <div align="center">239-25-96 (206)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Студенческий отдел кадров</div></td>
    <td>
    <div align="center">103</div></td>
    <td>
    <div align="center">(205)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Начальник учебного отдела</div></td>
    <td>
    <div align="center">201</div></td>
    <td>
    <div align="center">246-38-97 (209)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Начальник отдела дополнительного образования</div></td>
    <td>
    <div align="center">504</div></td>
    <td>
    <div align="center">(224)</div></td>
    </tr>
    
    <tr>
    <td width="58%">
    <div>Диспетчер</div></td>
    <td>
    <div align="center">204</div></td>
    <td>
    <div align="center">239-25-03 (243)</div></td>
    </tr>
    
    <tr>
    <td width="58%">
    <div>Деканат Энергетического факультета<br> декан<br> методист</div></td>
    <td>
    <div align="center">304</div></td>
    <td>
    <div align="center">246-38-97&nbsp;<br>
    (230)<br>
    (212)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Деканат факультета Информационных систем&nbsp;<br> декан<br> методист</div></td>
    <td>
    <div align="center">406</div></td>
    <td>
    <div align="center">239-29-67&nbsp;<br> (232)<br> (211)</div></td>
    </tr>
    
    <!--<tr>
    <td width="58%">
    <div>Кафедра экономической безопасности </div></td>
    <td>
    <div align="center">308</div></td>
    <td>
    <div align="center">(217)</div></td>
    </tr>-->
    <tr>
    <td width="58%">
    <div>Кафедра атомных электрических станций</div> </td>
    <td>
    <div align="center">307</div></td>
    <td>
    <div align="center">(218)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Кафедра электроэнергетики</div></td>
    <td>
    <div align="center">305</div></td>
    <td>
    <div align="center">(214)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Кафедра естественно-научных и гуманитарных дисциплин</div></td>
    <td>
    <div align="center">409</div></td>
    <td>
    <div align="center">(219)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Кафедра информационной безопасности и систем связи</div></td>
    <td>
    <div align="center">408</div></td>
    <td>
    <div align="center">(220)</div></td>
    </tr>
    
    <tr>
    <td width="58%">
    <div>Кафедра информатики и вычислительной техники</div></td>
    <td>
    <div align="center">410</div></td>
    <td>
    <div align="center">(221)</div></td>
    </tr>
    
    <tr>
    <td width="58%">
    <div>Типография, заведующий лабораториями</div></td>
    <td>
    <div align="center">004</div></td>
    <td>
    <div align="center">239-25-96 (242)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Системный администратор </div></td>
    <td>
    <div align="center">003</div></td>
    <td>
    <div align="center">(234)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Инженеры</div></td>
    <td>
    <div align="center">003</div></td>
    <td>
    <div align="center">(234)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Инженерно-технический центр</div></td>
    <td>
    <div align="center"><span>104 (НТЦ)</span></div></td>
    <td>
    <div align="center">233-11-03</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Студклуб</div></td>
    <td>
    <div align="center">505</div></td>
    <td>
    <div align="center">(224)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Библиотека</div></td>
    <td>
    <div align="center">104</div></td>
    <td>
    <div align="center">239-25-96 (213)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Медпункт</div></td>
    <td>
    <div align="center">206</div></td>
    <td>
    <div align="center">(235)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Вахта</div></td>
    <td>&nbsp;</td>
    <td>
    <div align="center">239-25-96 (233)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Факс</div></td>
    <td>
    <div align="center">209</div></td>
    <td>
    <div align="center">221-00-69 (225)</div></td>
    </tr>
    <tr>
    <td width="58%">
    <div>Общежитие (вахта)</div></td>
    <td>&nbsp;</td>
    <td>
    <div align="center">233-11-02</div></td>
    </tr>
    </tbody>
    </table>

{% endblock content %}

