{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Реализованные проекты</title>
{% endblock title %}
{% block content %}


<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Реализованные проекты</div>
            </div>
        </div>
    </div>
 </div>


 <!-- <style>
    #tab 
    table {

     height: 600px;   
     width: 500px; 
     margin: auto; 
     padding-bottom: 100px;
    }
    td {
        border: 1px solid grey;
    }
    
    
    </style> -->
<div style="padding-bottom: 50px;">
<table class="tab" style="border-collapse: collapse; " border="1" cellspacing="0" cellpadding="0" align="center">
    <thead >
<tr >
    <td style="border: 1px solid grey;" ><div align="center">Название организации</div></td>
    <td style="border: 1px solid grey;" width="14%"><div align="center">Наименование проекта</div></td>
    <td style="border: 1px solid grey;"><div align="center"> Название программы</div></td>
    <td style="border: 1px solid grey;"><div align="center"> сумма займа, млн. руб.</div></td>
    <td style="border: 1px solid grey;"><div align="center"> Показатели эффективности за 5 лет реализации проекта</div></td>
</tr>
 </thead>
    
    
    
    
    <tbody>

    {% for project in projects %}
    <tr >
        <td style="border: 1px solid grey;">
            <div align="center"> 
                <img src="{{ project.image.url }}">
                <p >{{ project.blockname }}</p>
            </div>
        </td>

        <td style="border: 1px solid grey;"> 
          <div align="center">{{ project.header }}</div>
        </td>

        <td style="border: 1px solid grey;">
          <div align="center">{{ project.group }}</div>
        </td>

        <td style="border: 1px solid grey;">
          <div align="center">{{ project.price }}</div>
        </td>

        <td style="border: 1px solid grey;">
          <div>{{ project.text|escape|linebreaks }}</div>
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
    </table>
</div>    
{% endblock content %}

