{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Реализованные проекты</title>
{% endblock title %}
{% block content %}


<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Реализованные проекты</div>
            </div>
        </div>
    </div>
 </div>


 <style>
    #tab 
    table {

     height: 600px;   
     width: 500px; /* Ширина таблицы */
     margin: auto; /* Выравниваем таблицу по центру окна  */
     padding-bottom: 100px;
    }
    td {
        border: 1px solid grey;
    }
    
    
    </style>
<table class="tab" style="padding-bottom: 50px;" border="1" cellspacing="0" cellpadding="0" align="center">
    <thead>
<tr>
    <td ><div align="center">название организации</div></td>
    <td width="14%"><div align="center">наименование проекта</div></td>
    <td><div align="center"> название программы</div></td>
    <td><div align="center"> сумма займа, млн. руб.</div></td>
    <td><div align="center"> Показатели эффективности за 5 лет реализации проекта</div></td>
</tr>
 </thead>
    
    
    
    
    <tbody>

<!-- 1 -->
    <tr>
        <td >
            <div align="center"> 
                <img src="{% static 'frpv/img/europak.jpg' %}">
                <p > ООО "ЕВРОПАК" </p>
            </div>
        </td>


        <td><div align="center">Строительство завода по производству 
            упаковки из гофрированного картона </div>
        </td>


        <td><div align="center">Проекты развития ФРП</div></td>


        <td><div align="center">500</div></td>


        <td><div >1. Целевой объем продаж новой продукции – 36 968 млн руб.
            <br> 2. Объем налоговых поступлений – 1903,6 млн руб.
            <br> 3. Количество высокопроизводитель-ных рабочих мест – 142.
            <br> 4. Объем средств софинансирова-ния, привлекаемых для реализации проекта (дополнительно к сумме займа) – 3505,9 млн руб.
            </div></td>
    </tr>


<!-- 2 -->
    <tr>
        <td >
            <div align="center"> 
                <img src="{% static 'frpv/img/Borisoglebsk.jpg' %}">
                <p> АО "БОРИСОГЛЕБ-СКИЙ ТРИКОТАЖ"  </p>
            </div>
        </td>


        <td><div align="center">Создание импортозамещающего производства 
            чулочно-носочных изделий с использованием технологии оплетенных эластомерных нитей  </div>
        </td>


        <td><div align="center">Проекты развития РФРП </div></td>


        <td><div align="center">25</div></td>


        <td><div >1. Целевой объем продаж новой продукции – 210 млн руб.
            <br> 2. Объем налоговых поступлений – 34,8 млн руб
            <br> 3. Количество высокопроизводитель-ных рабочих мест – 14. 
            <br> 4. Объем средств софинансирования, привлекаемых для реализации проекта 
            (дополнительно к сумме займа) – 26,17 млн руб. 
            </div></td>
    </tr>


<!-- 3 -->
    <tr>
        <td >
            <div align="center"> 
                <img src="{% static 'frpv/img/angstrem.jpg' %}">
                <p> ООО ПК "Ангстрем"  </p>
            </div>
        </td>


        <td><div align="center">Организация высокотехнологичного производства мебельных фасадов на 
            территории индустриального парка "Масловский"  </div>
        </td>


        <td><div align="center">Комплектую-щие изделия ФРП </div></td>


        <td><div align="center">500</div></td>


        <td><div >1. Целевой объем продаж новой продукции – 1652 млн руб.
            <br> 2. Объем налоговых поступлений – 188,5 млн руб.
            <br> 3. Количество высокопроизводитель-ных рабочих мест – 125.
            <br> 4. Объем средств софинансирования, привлекаемых для 
            реализации проекта (дополнительно к сумме займа) – 596,4 млн руб. 
            </div></td>
    </tr>

    
    
    
    </tbody>
    </table>

{% endblock content %}

