{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Согласие на обработку персональных данных</title>
{% endblock title %}
{% block content %}
<div id="rec112809220" class="r t-rec t-rec_pt_60 t-rec_pb_60"
      style="padding-top:60px;padding-bottom:60px;background-color:#ffffff; " data-record-type="106"
      data-bg-color="#000c37" data-animationappear="off">
      <!-- T004 -->
      <div class="t004">
        <div class="t-container ">
          <div class="t-col t-col_10 ">
            <div field="text" class="t-text t-text_md " style="color:#00153a;">
              <div style="border-bottom: 0px; color:#000000;" data-customstyle="yes"><strong>Согласие на обработку персональных
                  данных</strong> <br><br> <br>При обращении через сеть интернет в организацию «Региональный фонд развития промышленности 
                  Воронежской области» (далее - Фонд) с заявкой на финансирование проекта и за
                получением различного рода консультаций в соответствии с федеральным законом №152-ФЗ «О персональных
                данных» от 27.07.2006 года обратившийся свободно, своей волей и в своём интересе выражает своё
                безусловное согласие на обработку его персональных данных Фондом,
                зарегистрированным в соответствии с законодательством РФ по адресу: г.
                Воронеж, площадь Ленина, 6а (далее - Оператор). <br><br> Персональные данные – это любая
                информация, относящаяся к определённому или определяемому на основании такой информации физическому
                лицу. Согласие выдаётся на обработку следующих персональных данных, которые могут быть получены во время
                обработки заявки на финансирование проекта: <br><br> - ФИО; <br><br> - Номер телефона; <br><br> - Адрес
                электронной почты; <br><br> - Номера мессенджеров; <br><br> - Аккаунты социальных сетей; <br><br> -
                Наименование организации. <br><br> Согласие даётся Оператору для совершения следующих действий с
                персональными данными обратившегося с использованием средств автоматизации и/или без использования таких
                средств: сбор, систематизация, накопление, хранение, уточнение (обновление. изменение), использование,
                обезличивание, а также осуществление любых иных действий, предусмотренных действующим законодательством
                РФ как неавтоматизированными, так и автоматизированными способами. <br><br> Данное согласие даётся
                Оператору для обработки персональных данных обратившегося в следующих целях: <br><br> - предоставление
                ему работ/услуг; <br><br> - направление в его адрес уведомлений, касающихся предоставляемых работ/услуг;
                <br><br> - подготовка и направление ответов на запросы; <br><br> - направление в его адрес информации, в
                том числе рекламной, о мероприятиях/товарах/услугах/работах Оператора. <br><br> Настоящее согласие
                действует до момента его отзыва путём направления соответствующего уведомления на электронный адрес <a
                  href="mailto:rfpv@govvrn.ru" style="border-bottom: 0px; box-shadow: inset 0px -1px 0px 0px transparent;  color: rgb(255, 255, 255);"><u>rfpv@govvrn.ru</u></a>. <br><br> В
                случае отзыва согласия на обработку персональных данных Оператор вправе продолжить обработку
                персональных данных без согласия обратившегося при наличии оснований, указанных в пунктах 2-11 части 1
                статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона № 152-ФЗ «О персональных данных» от
                27.06.2006. <br><br></div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

