{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Наблюдательный совет</title>
{% endblock title %}
{% block content %}
<div id="rec38921754" class="r t-rec t-rec_pt_150 t-rec_pb_180"
style="padding-top:1px;padding-bottom:98px;background-color:#f7f7f7; min-height: 600px;" data-record-type="490" data-bg-color="#f5f5f5" data-animationappear="off">
<style>
    table {
     height: 150px;
     width: 900px; /* Ширина таблицы */
     border: 0px solid rgb(0, 0, 0); /* Рамка вокруг таблицы */
     margin: auto; /* Выравниваем таблицу по центру окна  */
    }
    td {
      width: 200px;
            }   
    tr {
        padding: 0px;
        margin: 0px;
    }
   </style>
<table>

<caption>
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" style="color: rgb(99, 134, 157); padding-top: 50px;padding-bottom: 10px; margin-right: 40px;" field="btitle">
                    Наблюдательный совет</div>
            </div>
        </div>
    </div>
</caption>

    
<tr>
<td>
    
<p style="font-size: 20px;">
    
    Наблюдательный совет является высшим органом управления учреждения. 
    Положение и состав совета утвержден приказом департамента промышленности и 
    транспорта Воронежской области №62-01-06/45 от 18.02.2019 г.
</p>
</td>
</tr>


</table>
<p style="font-size: 20px; text-align: center;">Состав Наблюдательного совета </p><br>

    <table border="1" cellspacing="0" cellpadding="0" align="center" style="font-family:'lucida grande',tahoma,verdana,arial,sans-serif; width: 800px; height: 900px;">
        
        <tbody style="width: 200px;">
        <tr>
            <td>
                <div align="">Десятириков  
                    Александр Николаевич 
                    </div></td>
        <td>
        <div align="">•	руководитель департамента промышленности и транспорта Воронежской области </div></td>
        </tr>
        
        
        <tr>
        <td>
        <div align="">Хлызов  
            Сергей Олегович 
            </div></td>
        <td>
        <div align="">•	начальник отдела развития обрабатывающих производств промышленности департамента промышленности и транспорта Воронежской области </div></td>
        </tr>


        <tr>
        <td>
        <div align="">Свиридова 
            Наталья Юрьевна 
            </div></td>
        <td>
        <div align="">•	ведущий консультант отдела по работе с юридическими лицами и учета государственного имущества департамента имущественных и земельных отношений Воронежской области </div></td>
        </tr>
        
        
        <tr>
        <td>
        <div align="">Верховцев 
            Артем Юрьевич 
            </div></td>
        <td width="26%">
        <div align="">•	член Совета по промышленной политике Воронежской области </div></td>
        </tr>


        <tr>
        
        <td>
        <div align="">Чуйко 
            Григорий Владимирович 
            </div></td>
        <td>
        <div align="">•	председатель Комитета по промышленности, инновациям и вопросам импортозамещения Воронежской областной Думы  </div></td>
        </tr>
          
        <tr>
        
        <td>
        <div align="">Цуцаев
            Олег Владимирович 
            </div></td>
        <td>
        <div align="">•	управляющий Воронежским филиалом АО «АБ Россия» </div></td>
        </tr>


        <tr>
        
        <td>
        <div align="">Алименко  
            Игорь Анатольевич 
            </div></td>
        <td>
        <div align="">•	генеральный директор ООО «Логус-агро» </div></td>
        </tr>

        
          <tr>
        
        <td>
        <div align="">Андреев 
            Александр Борисович 
            </div></td>
        <td>
        <div align="">•	президент Союза промышленников и предпринимателей Воронежской области (регионального объединения работодателей) </div></td>
        </tr>
        
        <tr>
        
            <td>
            <div align=""> 
                Щипелев 
Николай Семенович  
 
                </div></td>
            <td>
            <div align="">•	вице-президент Союза «Торгово-промышленная палата Воронежской области» </div></td>
            </tr>

        </tbody>
        </table>




</div><!-- /rec -->
{% endblock content %}

