{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Структура фонда</title>
{% endblock title %}
{% block content %}
<div style="text-align: center;" class="t509__title t-heading t-heading_xs t-margin_auto" field="li_title__1476897493817" style="">
                               <p style="margin-top: 50px;color: rgb(99, 134, 157);">Структура фонда </p> 
                            </div>


                                <div style="text-align: center; padding-bottom: 100px;">
                                      <img style=" width: 900px;padding-right: 50px;" src="{% static 'frpv/img/struktura.png' %}">  </div>
{% endblock content %}

