{% extends 'frpv/default_page.html' %}

{% load static %}
{% block title %}
    <title>Ролик</title>
{% endblock title %}
{% block content %}


<div class="t509" style="padding-top: 50px;">
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle">Процедура получения займа</div>
            </div>
        </div>
    </div>
    <div class="t-section__container t-container">
        <div class="t-col t-col_12">
            <div class="t-section__topwrapper t-align_center">
                <div class="t-section__title t-title t-title_xs" field="btitle"><iframe width="560" height="315" src="https://www.youtube.com/embed/G1IbRujko-A" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
    
</div>

</div>



{% endblock content %}

